extends layout/main
block variables
  - var pageTitle = "123"
  - var youAreUsingPug = true

block content
  h1.header This is h1 header
  if youAreUsingPug
    p You are amazing
  else
    p Get on it!
  p.
    Pug is cool
    Yeah Bitch!
  p Звоните по телефону #[a(href="" class="123") +375445951119]

block scripts
  